.list {
    display: flex;
    flex-wrap: wrap;  /* Let the rows wrap if there are too many */
    justify-content: space-evenly; /* Evenly space the child elements */

}

.shop {
    flex-basis: 30%;  /* Make each child element the same width */
    border: 1px dotted black;
    padding: 0.1em;
}

.pageHeader {
    text-align: center;
    padding: 1.5em;
}